@import url("http://fonts.googleapis.com/earlyaccess/nanumgothic.css");

* {
	margin: 0;
	padding: 0;
	font-family: 'Nanum Gothic', sans-serif !important;
}

// flash
.alert {
	text-align: center;
}

.alert-alert {
	color: #31708f;
	background-color: #d9edf7;
	border-color: #bce8f1;
}

.alert-success {
	color: #3c763d;
	background-color: #dff0d8;
	border-color: #d6e9c6;
}

.alert-error {
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
}

.alert-notice {
	color: #8a6d3b;
	background-color: #fcf8e3;
	border-color: #faebcc;
}
