<% if flash.any? %>
	<% flash.each do |type, msg| %>
		<div class="alert alert-<%= type %>" role="alert">
			<%= msg %> <strong style="cursor: pointer;" onclick="">x</strong>
		</div>
	<% end%>
<% end %>
